@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

.calculadora { 
    border: 2px solid #232b2b;
    width: 250px;
    text-align: center;
    background-color: #778899;
    padding: 10px 0px;
    border-radius: 10px;
}

.pantalla{ 
    width: 180px;
    height: 35px;
    border: 2px black solid; 
    position: relative; 
    left: 28px;
    top: 5px;  
    padding: 0px 5px;
    background-color: white; 
    font-family: 'Georama', sans-serif;
    overflow: hidden;
}

.pantalla:hover { 
    transition: filter .25s;
    background-color: #FFD5D5;
}

.pantalla p{
    color: green;
    text-align: right;
    font-weight:bolder;
}

.calculadora [type=button] { 
    width: 35px; 
    padding: 0;
    background-color: #343434;
    color:antiquewhite;
    border-radius: 5px;
    border-width: 1px;

}

.calculadora [type=button]:hover { 
    filter:brightness(50%);
    transition: filter .25s;
    color: yellow;
}


.calculadora input.largo { 
    color: antiquewhite;
    width: 60px;
    border-color:crimson;
    border-width: 1.5px;
    border-radius: 5px;
}
